<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Investimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="fundocolorido" class="ion-padding-horizontal">
  <br>
  <div class="branco">
    <h1>Juros Compostos</h1>
  <ion-item>
    <ion-label position="floating">Valor</ion-label>
    <ion-input [(ngModel)]="v" placeholder="(R$) Real" [brmasker]="{money: true}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Meses</ion-label>
    <ion-input [(ngModel)]="m" placeholder="Meses"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Percentual</ion-label>
    <ion-input [(ngModel)]="p" placeholder="Porcentagem" [brmasker]="{money: true}"></ion-input>
  </ion-item>
  <br>
  </div>
<div class="divchart">
<canvas class="canvas" color="black" #lineCanvas></canvas>
</div>   
</ion-content>