.t1{
    text-align: center;
}
.p1{
   text-align: center;
   margin: 16px;
   margin-top: 2px;
   margin-bottom: 2px;
}
.r1{
    margin-top: 10px;
    margin: 20px;
    text-align: center;
}
//Input Theme
.caixacolorida{
    background-color: lightgray;
    border-radius: 10%;
}
.caixacolorida2{
    background-color: lightgray;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
ion-content{
    --background: url('/assets/icon/0.jpg') no-repeat 100% 100%;  
}