.aligncenter{
    text-align: center;
}
.contactimg{
    width: 100%;    
}
.formdiv{
    margin: 30px;
    text-align: center;
    background-color: lightblue;
}
ion-content{
    --background-color: lightblue;
}