<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Despesas</ion-title>
    <ion-thumbnail class="ion-margin-end" slot="end" *ngIf="auth.user | async as user">
      <img routerLink="/user/profile" src="{{ user.photoURL }}" alt="{{ user.displayName }}">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content id="fundocolorido" class="ion-padding-horizontal">
    <br>
    <div class="branco">
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input [(ngModel)]="v1" placeholder="(R$) Real" [brmasker]="{money: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Luz</ion-label>
      <ion-input [(ngModel)]="v2" placeholder="(R$) Real" [brmasker]="{money: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Água</ion-label>
      <ion-input [(ngModel)]="v3" placeholder="(R$) Real" [brmasker]="{money: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Internet</ion-label>
      <ion-input [(ngModel)]="v4" placeholder="(R$) Real" [brmasker]="{money: true}"></ion-input>
    </ion-item>
    <br>
    </div>
  <div class="divchart">
<canvas class="canvas" color="black" #doughnutCanvas></canvas>
</div>    
</ion-content>