<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Despesas</ion-title>

    <ion-thumbnail class="ion-margin-end" slot="end" *ngIf="auth.user | async as user">
      <img routerLink="/user/profile" src="{{ user.photoURL }}" alt="{{ user.displayName }}">
    </ion-thumbnail>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <div id="caixadodespesas">
    <br>
  <p class="p1" ><input [(ngModel)]="v1" type="number" placeholder="Telefone" ></p>
  <p class="p1" ><input [(ngModel)]="v2" type="number" placeholder="Luz" ></p>
  <p class="p1" ><input [(ngModel)]="v3" type="number" placeholder="Água" ></p>
  <p class="p1" ><input [(ngModel)]="v4" type="number" placeholder="Internet" ></p>
  <p class="p2" >O Resultado é: {{ +v1 + +v2 + +v3 + +v4 | currency : 'BRL'}}</p> 
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
<canvas class="canvas" color="black" #doughnutCanvas></canvas>
  <div id="espaçobrancoembaixo"></div>
</ion-content>