.cordefundo1{
    background-color: grey;
    border-radius: 10%;
}
.centralizar{
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.p1{
 text-align: center;
}
.p2{
  overflow:hidden;
  font-style: italic;
  font-size: 2.8rem;  
  text-align: center;
  background-color: #FFFFFF;
  width: 380px;
  height: 70px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid darkcyan;
  margin-top: 30px;
 }
 .divchart{
  overflow:hidden;
  font-style: italic;
  font-size: 2.8rem;  
  text-align: center;
  background-color: #FFFFFF;
  width: 80%;
  height: 55%;
  border: 5px solid darkcyan;
  margin-top: 30px;
  transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
 }
  .enviar1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: center;
  }
  .canvas{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .branco{
    background-color: #FFFFFF;
  }
#fundocolorido{
  --background: linear-gradient(290deg, #4dabf7, #06c5e4);
  --background-size: 400% 400%;
  animation: animatedborder 1s ease infinite;
}
@keyframes animatedborder {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}